global
  log 127.0.0.1 local2
{% if haproxy_socket != ''%}
  stats socket {{ haproxy_socket }} level admin
{% endif %}
{% if haproxy_chroot != '' %}
  chroot {{ haproxy_chroot }}
{% endif %}
  daemon
  user {{ haproxy_user }}
  group {{ haproxy_user }}
  maxconn {{ haproxy_maxconn }}
  ulimit-n {{ haproxy_ulimit }}
{% if haproxy_pidfile !='' %}
  pidfile {{ haproxy_pidfile }}
{% endif %}
{% for global_var in haproxy_global_vars %}
{{ global_var }}
{% endfor %}

defaults
  log global
  mode http
  option httplog
  option dontlognull
  option http-server-close
  option forwardfor       except 127.0.0.0/8
  option                  redispatch
  retries                 3
  timeout http-request    10s
  timeout queue           1m
  timeout connect         10s
  timeout client          1m
  timeout server          1m
  timeout http-keep-alive 10s
  timeout check           10s
  errorfile 400 /data/app/haproxy/errorfiles/400.http
  errorfile 403 /data/app/haproxy/errorfiles/403.http
  errorfile 408 /data/app/haproxy/errorfiles/408.http
  errorfile 500 /data/app/haproxy/errorfiles/500.http
  errorfile 502 /data/app/haproxy/errorfiles/502.http
  errorfile 503 /data/app/haproxy/errorfiles/503.http
  errorfile 504 /data/app/haproxy/errorfiles/504.http
{% for defaults_var in haproxy_defaults_vars %}
  {{ defaults_var }}
{% endfor %}

frontend {{ haproxy_frontend_name }}
  bind {{ haproxy_frontend_bind_address }}:{{ haproxy_frontend_port }}
  mode {{ haproxy_frontend_mode }}
  default_backend {{ haproxy_backend_name }}
{% for frontend_var in haproxy_frontend_vars %}
  {{ frontend_var }}
{% endfor %}

backend {{ haproxy_backend_name }}
  mode {{ haproxy_backend_mode }}
  balance {{ haproxy_backend_balance_method }}
  hash-type {{ hash_type }}
  {% if haproxy_backend_httpchk != '' and haproxy_backend_mode == "http" %}
  option httpchk {{ haproxy_backend_httpchk }}
{% endif %}
{% if haproxy_backend_mode == "http" %}
  cookie SERVERID insert indirect
{% endif %}
{% for backend in haproxy_backend_servers %}
  server {{ backend.name }} {{ backend.address }} {% if haproxy_backend_mode == "http" %} cookie {{ backend.name }} {% endif%}{%if backend.backup is defined %}backup{% endif %} check inter 2000 rise 3 fall 2 {% if backend.check is defined %}{{ backend.check }}{% endif %} {% if backend.extra is defined %}{{ backend.extra }}{% endif %} 
{% endfor %}
{% for backend_var in haproxy_backend_vars %}
  {{ backend_var }}
{% endfor %}


{% if haproxy_stats %}
listen statistics
  mode http
  bind *:{{ haproxy_stats_bindport }}
  stats enable
  stats auth {{ haproxy_stats_auth }}
  stats uri {{ haproxy_stats_uri }}
  stats hide-version
  stats admin if TRUE
  stats refresh 3s
  stats show-node
  acl allow src {{ haproxy_stats_allow_src }}
  tcp-request content accept if allow
  tcp-request content reject
  stats realm {{ haproxy_stats_realm }}
{% endif %}
   
{% if haproxy_conf_extra %}
{{ haproxy_conf_extra }}
{% endif %}
